* { 
    
}
.wrapper {
    padding: 30px;
    width: 460px; 
    text-align: center; 
    margin-top:0px;
    border: 10px;
    border-color: blue;
    background-color: blue;
}
img {
    width: 400px; 
    height: 100px;
    margin-top:-8px;

}
